:root {
  --light-primary: #b1d4e0;
  --primary-color: #0d6efd;
}
.text-align-center {
  text-align: center;
}
.modal-box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);
  padding: inherit 1rem;
  background: white;
  z-index: 1;
}
.modal {
  border: 1px solid black;
  position: relative;
}
.modal-content {
  margin-bottom: 4rem;
  margin-top: 3rem;
  overflow-y: scroll;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0 1rem;
}
.modal-close {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: var(--light-primary);
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary-color);
}
.modal-close-text {
  font-size: large;
  font-family: sans-serif;
  font-weight: bold;
}
.modal-open {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  font-size: larger;
  background-color: inherit;
}
.filter {
  display: flex;
  align-items: left;
  margin-left: 1rem;
  margin-right: 1rem;
}
.cursor-pointer {
  cursor: pointer;
}
.modal-close-text {
  color: var(--primary-color);
}

.modal-control-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

@media (min-width: 600px) {
  .modal-content {
    margin-bottom: 4rem;
    margin-top: 3rem;
    max-height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0 1rem;
  }
}
