:root {
  font-size: 62.5%;
  font-family: sans-serif;
  --primary: #0d6efd;
  --secondary: #6ea8fe;
  --tertiary: #084298;
  --success: #52c41a;
  --danger: #ff4d4f;
  --warning: #faad14;
  --info: #1890ff;
  --light-text: white;
}
* {
  padding: 0;
  margin: 0;
}
.playlistidpage {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.playlistidpage__vidbox {
  /* display: flex;
  flex-grow: 1; */
  /* align-items: center; */
  margin-top: 2rem;
  max-width: 70rem;
  margin-right: 3rem;
  margin-left: 3rem;
}
.btn-red {
  background-color: red;
  color: white;
  font-weight: bold;
}
.disabled {
  background-color: var(--secondary);
  color: var(--light-text);
  cursor: pointer;
}
.mr-2 {
  margin-right: 1rem;
}
.playlistidpage__vidcont {
  display: grid;
  grid-template-columns: 2fr 6fr;
  column-gap: 1rem;
}
.playlistidpage__thumbnail {
  width: 100%;
}
.playlistidpage__vidname {
  font-size: 2rem;
  line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.playlistidpage__vidbox {
  display: flex;
  align-items: flex-start;
}
