:root {
  font-size: 62.5%;
  font-family: sans-serif;
  --primary: #0d6efd;
  --secondary: #6ea8fe;
  --tertiary: #084298;
  --success: #52c41a;
  --danger: #ff4d4f;
  --warning: #faad14;
  --info: #1890ff;
  --light-text: white;
}
.videopage__frame {
  aspect-ratio: 16/9;
  width: 100%;
}
.videopage {
  margin-top: 2rem;
}
.videopage__container {
  margin: auto;
  max-width: 70rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.videopage__name {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.videopage__prime {
  color: var(--primary);
  margin-left: 0.5rem;
}
